body{
    background-color: rgb(228, 228, 228);
    font-family: 'Poppins', sans-serif;
}

header{
    
    background-color: rgb(51, 170, 90);
    padding: 10px;
    color: #f0ecec;
    text-align: center;
    font-size: x-large;
    font-family: 'fantasy';
}


#cabeçalho{
    text-align: center;
    font-family: 'Courier New';
}

p{
    text-align: justify;
}


#sobremim{
    text-align: center;
    font-family: 'Courier New';
    font-size: x-large;
    background-color: rgb(51, 170, 90);
    padding: 15px;
}

.biografia{
    color: rgb(0, 0, 0);
    font-size: large;
}

#instagram{
    height: 30px;
}

#whatsapp{
    height: 30px;
}

#unijorge{
    color: rgb(0, 0, 0);
}
#unijorge:hover{
    color: rgb(51, 170, 90);
}


#panoramica{
    width: 100%;
    height: auto;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 20px 0;
}

.galeria img, .galeria video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.galeria img:hover, .galeria video:hover {
    transform: scale(1.1);
}

.galeria2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Uma coluna, como já estava */
    gap: 15px;
    margin: 0px 0;
}

.galeria2 video {
    width: 95%; /* Isso já faz o vídeo ocupar toda a largura do container */
    height: 400px; /* Aumente a altura conforme necessário */
    border-radius: 8px;
    transition: transform 0.3s ease;
    padding: 10px;
}

.galeria2 img:hover, .galeria2 video:hover {
    transform: scale(1.15); /* Ajuste o valor do scale para um efeito mais acentuado */
}

#nomecompleto{
    color: rgb(51, 170, 90);
}

#merchan{
    color: rgb(51, 170, 90);
    text-align: center;
    font-size: xx-large;
}

h5{
    text-align: center;
    font-family: 'Courier New';
    font-size: x-large;
    background-color: rgb(51, 170, 90);
    padding: 15px;
}

.conteudosfaculdade{
    background-color: rgb(228, 228, 228);
}

footer {
    background-color: rgb(51, 170, 90);
    color: #ffffff;
    padding: 5px 5px;
    text-align: left;
    font-size: 14px;
    height: 100%;
}

.footer-content {
    max-width: 100%;
    margin: 0 auto;
}

footer .social-links {
    margin-bottom: 10px;
}

footer .social-links a {
    margin: 0 15px;
    text-decoration: none;
}

footer .social-icon {
    width: 40px;
    height: 40px;
    padding-left: 15px;
    padding-top: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

footer .social-links a:hover .social-icon {
    transform: scale(1.1);
    opacity: 0.8;
}

footer .social-iconinsta {
    width: 70px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    align-self: left;
    padding-top: 10px;
    ;
}

footer .social-links a:hover .social-iconinsta {
    transform: scale(1.1);
    opacity: 0.8;
}

footer p {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}



@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}

